<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

My Jupyter Notebook on IBM Data Science Experience

Hi , I am Sarika Mishra. Being a Python coder , I developed natural interest in Data Science .
And I love finding and presenting insights of data.

In this course Data Science Tools and Ecosystems are summarized

In [ ]:
1. Python

2. R

3. SQL

4. Scala

5. Java

6. C++

7. Julia

8. JavaScript

9. PHP

10. Go

11. Ruby

12. Visual Basic

In [ ]:
Pandas

Numpy

Matplotlib

Seaborn

Scikit-learn

Keras

TensorFlow

PyTorch

Apache Spark

Vegas

Big DL

Ggplot2

In [ ]:
Google Colab
Jupyter
Spyder
Zeppelin
R Studio

"+" is used to add 2 numbers. eg - 2+3=5
"-" is used to find the difference between 2 numbers. eg  6-4=2
"*" is used to multiply 2 numbers . eg 9*2=18
"/" is used to divide number . eg - 18/9 =2

In [1]:
2+3

5

In [7]:
# * is multiplying the numbers and + is adding them. BODMAS rule is followed.
(3*4)+4

16

In [3]:
6/3

2.0

In [6]:
# To convert min to hrs divide mins by 60. The example below convert 200 mins to hours
min = 200
hr= min/60
print(hr)

3.3333333333333335

In [ ]:
Objectives
Add comments to code cell
Create markdown cells
Add ordered and unordered lists to markdown cells
Format content of markdown cells with heading styles

Author -
Lakshmi Holla
Niveditha Pandith